[user]
  name = yyc3-Team
  email = yyc3@example.com
[core]
  autocrlf = input
  safecrlf = true
[branch]
  protect = main
[push]
  default = simple
[hooks]
  path = .git-hooks
# 禁止强制推送到主分支
[alias]
  nopush = push --no-force
